*{
    margin: 0;
    padding: 0;
}

nav {
    width: 90%;
    height: 70px;
    background-color: #fff;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img {
    width: 120px;
    margin-left: 50px;
}
.buttonNav {
    width: 18%;
    height: 70px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
}
.navLogo {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50px;
}
.bttn1 {
    background-color: #fff;
    border: 1px solid #8fd6f6;
    color: #8fd6f6;
    font-size: 13px;
    font-weight: bold;
}
.bttn2 {
    background-color: #8fd6f6;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: none;

}
